In [1]:
import pandas as pd
import numpy as np

In [2]:
table1 = pd.read_table('./table_hdr')

In [3]:
print(table1)

                             id|code|PC|date|value| |
0       1560029C|ANHH1|PC|2019-03-17 00:45|146.65|  |
1       1560029C|ANHH1|PC|2019-03-17 01:00|146.65|  |
2       1560029C|ANHH1|PC|2019-03-17 01:15|146.65|  |
3       1560029C|ANHH1|PC|2019-03-17 01:30|146.65|  |
4       1560029C|ANHH1|PC|2019-03-17 01:45|146.65|  |
5       1560029C|ANHH1|PC|2019-03-17 02:00|146.65|  |
6       1560029C|ANHH1|PC|2019-03-17 02:15|146.65|  |
7       1560029C|ANHH1|PC|2019-03-17 02:30|146.65|  |
8       1560029C|ANHH1|PC|2019-03-17 02:45|146.65|  |
9       1560029C|ANHH1|PC|2019-03-17 03:00|146.65|  |
10      1560029C|ANHH1|PC|2019-03-17 03:15|146.65|  |
11      1560029C|ANHH1|PC|2019-03-17 03:30|146.65|  |
12      1560029C|ANHH1|PC|2019-03-17 03:45|146.65|  |
13      1560029C|ANHH1|PC|2019-03-17 04:00|146.65|  |
14      1560029C|ANHH1|PC|2019-03-17 04:15|146.65|  |
15      1560029C|ANHH1|PC|2019-03-17 04:30|146.65|  |
16      1560029C|ANHH1|PC|2019-03-17 04:45|146.65|  |
17      1560029C|ANHH1|PC|2019-03-17 05:00|146.65|  |
18      1560029C|ANHH1|PC|2019-03-17 05:15|146.65|  |
19      1560029C|ANHH1|PC|2019-03-17 05:30|146.65|  |
20      1560029C|ANHH1|PC|2019-03-17 05:45|146.65|  |
21      1560029C|ANHH1|PC|2019-03-17 06:00|146.65|  |
22      1560029C|ANHH1|PC|2019-03-17 06:15|146.65|  |
23      1560029C|ANHH1|PC|2019-03-17 06:30|146.65|  |
24      1560029C|ANHH1|PC|2019-03-17 06:45|146.65|  |
25      1560029C|ANHH1|PC|2019-03-17 07:00|146.65|  |
26      1560029C|ANHH1|PC|2019-03-17 07:15|146.65|  |
27      1560029C|ANHH1|PC|2019-03-17 07:30|146.65|  |
28      1560029C|ANHH1|PC|2019-03-17 07:45|146.65|  |
29      1560029C|ANHH1|PC|2019-03-17 08:00|146.65|  |
...                                               ...
309236  FA9024CE|MKPH1|RW|2019-03-22 20:15|478.00|  |
309237  FA9024CE|MKPH1|RW|2019-03-22 21:15|680.00|  |
309238  FA9024CE|MKPH1|RW|2019-03-22 22:15|937.00|  |
309239  FA9024CE|MKPH1|RW|2019-03-22 23:15|963.00|  |
309240  FA9024CE|MKPH1|RW|2019-03-23 00:15|916.00|  |
309241  FA9024CE|MKPH1|RW|2019-03-23 01:15|800.00|  |
309242  FA9024CE|MKPH1|RW|2019-03-23 02:15|616.00|  |
309243  FA9024CE|MKPH1|RW|2019-03-23 03:15|399.00|  |
309244  FA9024CE|MKPH1|RW|2019-03-23 04:15|164.00|  |
309245   FA9024CE|MKPH1|RW|2019-03-23 05:15|10.00|  |
309246    FA9024CE|MKPH1|RW|2019-03-23 06:15|0.00|  |
309247    FA9024CE|MKPH1|RW|2019-03-23 07:15|0.00|  |
309248    FA9024CE|MKPH1|RW|2019-03-23 08:15|0.00|  |
309249    FA9024CE|MKPH1|RW|2019-03-23 09:15|0.00|  |
309250    FA9024CE|MKPH1|RW|2019-03-23 10:15|0.00|  |
309251    FA9024CE|MKPH1|RW|2019-03-23 11:15|0.00|  |
309252    FA9024CE|MKPH1|RW|2019-03-23 12:15|0.00|  |
309253    FA9024CE|MKPH1|RW|2019-03-23 13:15|0.00|  |
309254    FA9024CE|MKPH1|RW|2019-03-23 14:15|0.00|  |
309255    FA9024CE|MKPH1|RW|2019-03-23 15:15|0.00|  |
309256    FA9024CE|MKPH1|RW|2019-03-23 16:15|0.00|  |
309257   FA9024CE|MKPH1|RW|2019-03-23 17:15|20.00|  |
309258  FA9024CE|MKPH1|RW|2019-03-23 18:15|101.00|  |
309259  FA9024CE|MKPH1|RW|2019-03-23 19:15|190.00|  |
309260  FA9024CE|MKPH1|RW|2019-03-23 20:15|453.00|  |
309261  FA9024CE|MKPH1|RW|2019-03-23 21:15|728.00|  |
309262  FA9024CE|MKPH1|RW|2019-03-23 22:15|907.00|  |
309263  FA9024CE|MKPH1|RW|2019-03-23 23:15|951.00|  |
309264  FA9024CE|MKPH1|RW|2019-03-24 00:15|882.00|  |
309265  FA9024CE|MKPH1|RW|2019-03-24 01:15|622.00|  |

[309266 rows x 1 columns]

In [4]:
table2 = table1.drop([0,1,2,3,4])
table3 = table2.iloc[::12, :]
print(table3)
table3.to_csv('table3hr.csv')

                             id|code|PC|date|value| |
5       1560029C|ANHH1|PC|2019-03-17 02:00|146.65|  |
17      1560029C|ANHH1|PC|2019-03-17 05:00|146.65|  |
29      1560029C|ANHH1|PC|2019-03-17 08:00|146.65|  |
41      1560029C|ANHH1|PC|2019-03-17 11:00|146.65|  |
53      1560029C|ANHH1|PC|2019-03-17 13:00|146.65|  |
65      1560029C|ANHH1|PC|2019-03-17 16:00|146.65|  |
77      1560029C|ANHH1|PC|2019-03-17 19:00|146.65|  |
89      1560029C|ANHH1|PC|2019-03-17 22:00|146.65|  |
101     1560029C|ANHH1|PC|2019-03-18 00:00|146.65|  |
113     1560029C|ANHH1|PC|2019-03-18 03:00|146.65|  |
125     1560029C|ANHH1|PC|2019-03-18 06:00|146.65|  |
137     1560029C|ANHH1|PC|2019-03-18 09:00|146.65|  |
149     1560029C|ANHH1|PC|2019-03-18 11:17|146.65|R |
161     1560029C|ANHH1|PC|2019-03-18 14:00|146.65|  |
173     1560029C|ANHH1|PC|2019-03-18 17:00|146.65|  |
185     1560029C|ANHH1|PC|2019-03-18 20:00|146.65|  |
197     1560029C|ANHH1|PC|2019-03-18 23:00|146.65|  |
209     1560029C|ANHH1|PC|2019-03-19 01:00|146.65|  |
221     1560029C|ANHH1|PC|2019-03-19 04:00|146.65|  |
233     1560029C|ANHH1|PC|2019-03-19 07:00|146.65|  |
245     1560029C|ANHH1|PC|2019-03-19 10:00|146.65|  |
257     1560029C|ANHH1|PC|2019-03-19 12:00|146.65|  |
269     1560029C|ANHH1|PC|2019-03-19 15:00|146.65|  |
281     1560029C|ANHH1|PC|2019-03-19 18:00|146.65|  |
293     1560029C|ANHH1|PC|2019-03-19 21:00|146.65|  |
305     1560029C|ANHH1|PC|2019-03-19 23:16|146.65|R |
317     1560029C|ANHH1|PC|2019-03-20 02:00|146.65|  |
329     1560029C|ANHH1|PC|2019-03-20 05:00|146.65|  |
341     1560029C|ANHH1|PC|2019-03-20 08:00|146.65|  |
353     1560029C|ANHH1|PC|2019-03-20 11:00|146.65|  |
...                                               ...
308909   FA9024CE|MKPH1|UR|2019-03-23 08:15|90.00|  |
308921   FA9024CE|MKPH1|UR|2019-03-23 20:15|91.00|  |
308933    FA9024CE|MKPH1|UP|2019-03-17 06:15|6.00|  |
308945   FA9024CE|MKPH1|UP|2019-03-17 18:15|21.00|  |
308957   FA9024CE|MKPH1|UP|2019-03-18 06:15|17.00|  |
308969   FA9024CE|MKPH1|UP|2019-03-18 18:15|21.00|  |
308981   FA9024CE|MKPH1|UP|2019-03-19 06:15|24.00|  |
308993   FA9024CE|MKPH1|UP|2019-03-19 18:15|23.00|  |
309005   FA9024CE|MKPH1|UP|2019-03-20 06:15|13.00|  |
309017    FA9024CE|MKPH1|UP|2019-03-20 18:15|5.00|  |
309029   FA9024CE|MKPH1|UP|2019-03-21 06:15|11.00|  |
309041   FA9024CE|MKPH1|UP|2019-03-21 18:15|14.00|  |
309053   FA9024CE|MKPH1|UP|2019-03-22 06:15|20.00|  |
309065   FA9024CE|MKPH1|UP|2019-03-22 18:15|22.00|  |
309077   FA9024CE|MKPH1|UP|2019-03-23 06:15|20.00|  |
309089   FA9024CE|MKPH1|UP|2019-03-23 18:15|21.00|  |
309101    FA9024CE|MKPH1|RW|2019-03-17 05:15|9.00|  |
309113   FA9024CE|MKPH1|RW|2019-03-17 17:15|20.00|  |
309125    FA9024CE|MKPH1|RW|2019-03-18 05:15|8.00|  |
309137   FA9024CE|MKPH1|RW|2019-03-18 17:15|16.00|  |
309149   FA9024CE|MKPH1|RW|2019-03-19 05:15|12.00|  |
309161   FA9024CE|MKPH1|RW|2019-03-19 17:15|11.00|  |
309173    FA9024CE|MKPH1|RW|2019-03-20 05:15|4.00|  |
309185   FA9024CE|MKPH1|RW|2019-03-20 17:15|27.00|  |
309197   FA9024CE|MKPH1|RW|2019-03-21 05:15|13.00|  |
309209   FA9024CE|MKPH1|RW|2019-03-21 17:15|24.00|  |
309221   FA9024CE|MKPH1|RW|2019-03-22 05:15|12.00|  |
309233   FA9024CE|MKPH1|RW|2019-03-22 17:15|27.00|  |
309245   FA9024CE|MKPH1|RW|2019-03-23 05:15|10.00|  |
309257   FA9024CE|MKPH1|RW|2019-03-23 17:15|20.00|  |

[25772 rows x 1 columns]

In [23]:
tablepc = pd.read_csv('./table3pc.csv')
tablepc[0:5]

,n,ID,Code,Scode,Date,Time,Rainfall(in),Rainfall(mm),Rainfall Rate ( mm/hr)
0,1,1560029C,ANHH1,PC,3/17/19,2:00,146.65,3724.91,0
1,2,1560029C,ANHH1,PC,3/17/19,5:00,146.65,3724.91,0
2,29,1560029C,ANHH1,PC,3/17/19,8:00,146.65,3724.91,0
3,41,1560029C,ANHH1,PC,3/17/19,11:00,146.65,3724.91,0
4,53,1560029C,ANHH1,PC,3/17/19,13:00,146.65,3724.91,0

In [60]:
tablepc.Code.unique()

array(['ANHH1', 'HNPH1', 'KPIH1', 'NUUH1', 'LIHH1', 'WUHH1', 'AHUH1',
       'HAUH1', 'WBHH1', 'KASH1', 'PUKH1', 'P36', 'WHSH1', 'MOGH1',
       'HAKH1', 'WISH1', 'WLDH1', 'WKRH1', 'KNRH1', 'KMHH1', 'STVH1',
       'MAUH1', 'MOAH1', 'NIUH1', 'OFSH1', 'PFSH1', 'PUNH1', 'LUAH1',
       'OMAH1', 'WPPH1', 'WMLH1', 'PMLH1', 'MAPH1', 'KTAH1', 'SCEH1',
       'KRCH1', 'PKAH1', 'PKWH1', 'SCBH1', 'MKRH1', 'MKGH1', 'PTAH1',
       'WWFH1', 'KWLH1', 'DLGH1', 'HKIH1', 'KAOH1', 'PTRH1', 'HOFH1',
       'KMOH1', 'MKAH1', 'PKMH1', 'KPDH1', 'PAFH1', 'PHRH1', 'LKHH1',
       'NENH1', 'PERH1', 'WNVH1', 'MLKH1', 'LNIH1', 'PULH1', 'PWWH1',
       'MNRH1', 'POPH1', 'WHGH1', 'KHRH1', 'WKVH1', 'AHMH1', 'KPLH1',
       'PLHH1', 'KKRH1', 'KACH1', 'AIKH1', 'KHKH1', 'MABH1', 'ULUH1',
       'KMUH1', 'KUUH1', 'KLEH1', 'HKUH1', 'KFWH1', 'OFRH1', 'KHIH1',
       'WCCH1', 'WIHH1', 'WUKH1', 'KBSH1', 'KPRH1', 'KLFH1', 'MLDH1',
       'BELH1', 'KAHH1', 'WAFH1', 'HNAH1', 'SOPH1', 'PRIH1', 'POIH1',
       'PAKH1', 'PPLH1', 'KAYH1', 'MCRH1', 'MKHH1', 'WWKH1', 'WLLH1',
       'KIRH1', 'PKKH1', 'TNLH1', 'HOUH1', 'PMHH1', 'KLOH1', 'KWSH1',
       'SDQH1', 'WLGH1', 'KPNH1', 'KKUH1', 'KHOH1', 'PLIH1', 'MKPH1'], dtype=object)

In [63]:
sites=tablepc.Code.unique()
for site in sites:

    tablepc[site] = tablepc['Rainfall Rate ( mm/hr)'][tablepc.Code==site]

In [65]:
tablepc['datetime']=pd.to_datetime(tablepc[['Date','Time']])

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

In [59]:
tablept = tablepc.rename(columns={'Rainfall(in)': 'Rainfall_in', 'Rainfall(mm)': 'Rainfall_mm', 'Rainfall( mm/hr)':'Rainfall_mmhr'}, inplace=True)
print(tablept)

None

In [58]:
tabplepct = tablept.drop(['n', 'ID', 'Scode', 'Rainfall_in','Rainfall_mm'], axis=1)
print(tablepct)

AttributeError: 'NoneType' object has no attribute 'drop'